* {
    margin: 0;
    padding: 0;
    font-family:'Red Hat Mono', monospace;
}

.background-image {
    background-image: url(https://image.freepik.com/free-vector/poker-table-background-green-color_47243-1073.jpg); ;
    background-size: 1400px 700px;
    background-position: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    transition: 2s;
}

.header {
    color: #134c92;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 1%;
    font-size: 25px;
  }

  .bet-zone {
    display: flexbox;
    flex-direction: column;
    color: #134c92;
    text-align: center;
    margin:  auto;
    position: absolute;
    width: 150px;
    bottom: 10%;
    left: 45%;
    font-size: 18px;
  }

  .fas fa {
    color: #134c92;
  }
  .casino-chips{
    display: flex;
    justify-content: center;
    
  }

  .casino-chips :hover{
      background-color: #810f19;
      padding: 17px;
  }
  .casino-chip {
      background-color: #134c92;
      color:aqua;
      border-radius: 15px;
      cursor: pointer;
      padding: 10px;
      margin: 2px;
      font-weight: bold;
      font-size: 15px;
      transition: 0.5s;
      letter-spacing: 1px;
  }
  
  .board {
    position: absolute;
    top: 25%;
    left: 35%;
  }

  .player-area img {
    height: 200px;
    background-color: white;
  }

  .dealer-area img {
      height: 200px;
      background-color: white;
      margin-bottom: 20px;
  }

  .play-msg{
      font-size: 18px;
      background:-webkit-linear-gradient(90 deg, #000000, #0f0a0b);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

  }

 .d-total {
     background: -webkit-linear-gradient(90deg, #000000, #0f0a0b);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-size: 30px;
 }

 .d-total-d {
     background: -webkit-linear-gradient(90deg, #192029, #ff0015) ;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-size: 15px;
 }
 .p-total {
     background: -webkit-linear-gradient(90deg, #000000, #0f0a0b);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-size: 30px;
 }

 .p-total-p {
     background: -webkit-linear-gradient(90deg, #192029, #ff0015);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-size: 15px 
 }

 .dealer-hand-total {
     position:absolute;
     top: 15%;
     left: 17%;
 }

 .player-hand-total {
     position: absolute;
     top: 65%;
     left: 17%;
 }

 .buttons {
     position: absolute;
     bottom: 2%;
     left: 44%;
 }

 .stand-btn{
    padding: 20px;
    margin-right: 20px;
    color: #ffffff;
    font-weight: bold;
    background-color: #10151b;
    border-style: none;
    letter-spacing: 1px;
    cursor: pointer
  }
  .hit-btn{
    padding: 20px;
    padding-left: 20px;
    padding-right: 25px;
    margin-left: 25px;
    cursor: 
    font-weight: bold;
    color: #ffffff;
    background-color: #10151b;
    border-style: none;
    letter-spacing: 1px;
    cursor: pointer
  }
  .hit-btn:hover{
    background-color: #810f19;
    padding: 30px;
    transition: 3s;
    font-size: large;
    border: #80afe7 5px solid;
    border-radius: 10px;
    color: white;
  }

  .stand-btn:hover{
    background-color:#810f19;
    padding: 30px;
    transition: 3s;
    font-size: large;
    border: #80afe7 5px solid;
    border-radius: 10px;
    color: white;
  }


.play{
  width: 50px;
  position: absolute;
  bottom: 10%;
  right: 20%;
}

.play-again-btn{
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    background-color: red;
    border-style: none;
    letter-spacing: 1px;
    cursor: pointer
  }
  
  
.play-again-btn:hover{
    background-color: #810f19;
    padding: 20px;
    transition: 3s;
    font-size: large;
    border: #80afe7 5px solid;
    border-radius: 10px;
    margin-left: 5px;
    color: white;
  }

.bet-accept-btn{
    padding: 20px;
    padding-left:  25px;
    padding-right: 25px;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    background-color: red;
    border-style: none;
    letter-spacing: 1px;
    cursor: pointer
  }
  
  
.bet-accept-btn:hover{
    background-color: #810f19;
    padding: 20px;
    transition: 3s;
    font-size: large;
    border: #80afe7 5px solid;
    color: white;
  }

  .cash{
    display: flexbox;
    flex-direction: column;
    color: #810f19;
    text-align: center;
    margin:  auto;
    position: absolute;
    width: 150px;
    bottom: 12%;
    right: 25%;
    font-size: 20px;
  }

  .bet-amount {
    color: #810f19
  }

  .dealer-area img {
      height: 105px;
      width: 75px;
      margin: 1px;
  }

  .player-area img {
    height: 105px;
    width: 75px;
    margin: 1px;
}